@{
    @model SPF.Views.Admin.IndexModel
}
<h1>Доступ запрещен</h1>

<a asp-controller="Home" asp-action="Index">Главная страница</a>
<a asp-controller="Admin" asp-action="Index">Панель Администратора</a>