@model SPF.Views.Admin.AdministratorModel

@{
    ViewData["Title"] = "Админ";
    ViewData["CssLink"] = "admin_admin.css";
}
<div class="adminMenu">
    <h1>Администратор</h1>
    <div class="adminButtonList">
        <a asp-controller="Items" asp-action="Index">Редактор Вещей</a>
        <a asp-controller="Admin" asp-action="Index">Панель Администратора</a>
    </div>
</div>