@page
@model SPF.Views.Admin.AdministratorModel
@{
}
<h1>Администратор</h1>
<a asp-controller="Items" asp-action="Index">Редактор Вещей</a>
<a asp-controller="Admin" asp-action="Index">Панель Администратора</a>