<h1>Admin</h1>

<a asp-controller="Admin" asp-action="LogOff">Log Off</a>
<a asp-controller="Admin" asp-action="Administrator">
    Administrator
</a>
<a asp-controller="Admin" asp-action="Moder">
    Moder
</a>

<p>
    IsAuthenticated:  @ViewBag.IsAuthenticated
</p>

<p>
    Name: @ViewBag.Name
</p>

