@{
    ViewData["MetaDescription"] = "спецпрофстиль";
    ViewData["MetaKeyWords"] = "купить, спецовка, перчатки, обувь, цена, очки, защитные, спец-одежда, спец одежда, спец одежду, спецовку, штаны, защитный, лопата, цена,";
    ViewData["MetaTitle"] = "Купить Спец Одежду";
    ViewData["Title"] = "Каталог";
    ViewData["CssLink"] = "catalog.css";
}
<div id="directionOfMainContent">
    <div id="leftPartOfMainContent">
    </div>
    <div id="middlePartOfMainContent">
        <div id="catalogBlock">
            <button class="buttonFilter">
                <p>Фильтр</p>
            </button>
            <div id="catalogMenu">
                <div id="NameCatalog">
                    <h3>
                        Каталог
                    </h3>
                </div>
                <div id="catalogList">
                    <ul class="catalogUl">
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_0"
                                   name="toggle">
                            <label for="toggleList_0"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>Спецодежда</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>Летняя</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Костюм
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Халат
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Трикотаж
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Зимняя</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Куртка
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Жилет
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Брюки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Полукомбинезоны
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Костюмы сварщика утепленные
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Защитная</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Влагозащитная
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Спецодежда от кислот и агрессивной среды
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Спецодежда от высоких температур
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Фартуки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Сигнальные жилеты
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_1"
                                   name="toggle">
                            <label for="toggleList_1"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>Обувь</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>Летняя</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Ботинки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Сапоги
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Полуботинки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Тапочки
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Зимняя</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Ботинки утепленные
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Сапоги утепленные
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Обувь войлочная
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Чулки утепляющие
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>ПВХ ЭВА</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Сапоги
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Галоши
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_2"
                                   name="toggle">
                            <label for="toggleList_2"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>СИЗ</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>Средства индивидуальной защиты</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Головы
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Зрения
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Дыхания
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h4>Средства защиты рук</h4>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Перчатки
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Рукавицы
                                        </p>
                                    </div>
                                    <div class="setting">
                                        <input type="checkbox" />
                                        <p>
                                            Краги
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <input type="checkbox"
                                   class="openList"
                                   id="toggleList_3"
                                   name="toggle">
                            <label for="toggleList_3"
                                   class="openList">
                            </label>
                            <div class="mainNameCatalog">
                                <a>Прочее</a>
                            </div>
                            <ul class="listSettingCategory">
                                <li>
                                    <h4>В разработке</h4>
                                </li>
                                <li>
                            </ul>
                        </li>
                        <li class="mainCatalogItem">
                            <button class="buttonFind">
                                ПОИСК
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="catalogContext">
                <div class="catalogItem">
                    <a href="../Page/item.html">
                        <img class="catalogItemImg"
                             src="../Image/itemPack/artical_5806.jpg"
                             />
                    </a>
                    <div class="catalogItemDescrition">
                        <div class="catalogItemFieldCategory">
                            <div class="catalogItemFieldCategoryBlock"
                                 id="superCost">
                                супер цена
                            </div>
                            <div class="catalogItemFieldCategoryBlock"
                                 id="wholeSaleCheaper">
                                оптом дешевле
                            </div>
                        </div>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <h4 class="catalogItemName">
                                Костюм рабочий усиленный с брюками
                            </h4>
                        </a>
                        <p class="catalogItemVendorCode">
                            Артикул: 5806
                        </p>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <p class="catalogItemMiniDescrition">
                                Надёжность. Удобство. Экономичность.
                                Вот 3 понятия, которые идеально описывают
                                данную модель рабочего костюма!
                            </p>
                        </a>
                    </div>
                    <div class="catalogItemCost">
                        <p class="discountPrice">
                            3.99 Р
                        </p>
                        <p class="oldPrice">
                            5.00 Р
                        </p>
                    </div>
                </div>
                <div class="catalogItem">
                    <a href="../Page/item.html">
                        <img class="catalogItemImg"
                             src="../Image/itemPack/artical_5806.jpg"
                             />
                    </a>
                    <div class="catalogItemDescrition">
                        <div class="catalogItemFieldCategory">
                        </div>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <h4 class="catalogItemName">
                                Костюм рабочий усиленный с брюками
                            </h4>
                        </a>
                        <p class="catalogItemVendorCode">
                            Артикул: 5806
                        </p>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <p class="catalogItemMiniDescrition">
                                Надёжность. Удобство. Экономичность.
                                Вот 3 понятия, которые идеально описывают
                                данную модель рабочего костюма!
                            </p>
                        </a>
                    </div>
                    <div class="catalogItemCost">
                        <p class="price">
                            4.99 Р
                        </p>
                    </div>
                </div>
                <div class="catalogItem">
                    <a href="../Page/item.html">
                        <img class="catalogItemImg"
                             src="../Image/itemPack/artical_5806.jpg"
                             />
                    </a>
                    <div class="catalogItemDescrition">
                        <div class="catalogItemFieldCategory">
                            <div class="catalogItemFieldCategoryBlock"
                                 id="superCost">
                                супер цена
                            </div>
                            <div class="catalogItemFieldCategoryBlock"
                                 id="wholeSaleCheaper">
                                оптом дешевле
                            </div>
                        </div>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <h4 class="catalogItemName">
                                Костюм рабочий усиленный с брюками
                            </h4>
                        </a>
                        <p class="catalogItemVendorCode">
                            Артикул: 5806
                        </p>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <p class="catalogItemMiniDescrition">
                                Надёжность. Удобство. Экономичность.
                                Вот 3 понятия, которые идеально описывают
                                данную модель рабочего костюма!
                            </p>
                        </a>
                    </div>
                    <div class="catalogItemCost">
                        <p class="discountPrice">
                            3.99 Р
                        </p>
                        <p class="oldPrice">
                            5.00 Р
                        </p>
                    </div>
                </div>
                <div class="catalogItem">
                    <a href="../Page/item.html">
                        <img class="catalogItemImg"
                             src="../Image/itemPack/artical_5806.jpg"
                             />
                    </a>
                    <div class="catalogItemDescrition">
                        <div class="catalogItemFieldCategory">
                        </div>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <h4 class="catalogItemName">
                                Костюм рабочий усиленный с брюками
                            </h4>
                        </a>
                        <p class="catalogItemVendorCode">
                            Артикул: 5806
                        </p>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <p class="catalogItemMiniDescrition">
                                Надёжность. Удобство. Экономичность.
                                Вот 3 понятия, которые идеально описывают
                                данную модель рабочего костюма!
                            </p>
                        </a>
                    </div>
                    <div class="catalogItemCost">
                        <p class="price">
                            4.99 Р
                        </p>
                    </div>
                </div>
                <div class="catalogItem">
                    <a href="../Page/item.html">
                        <img class="catalogItemImg"
                             src="../Image/itemPack/artical_5806.jpg"
                             />
                    </a>
                    <div class="catalogItemDescrition">
                        <div class="catalogItemFieldCategory">
                            <div class="catalogItemFieldCategoryBlock"
                                 id="superCost">
                                супер цена
                            </div>
                            <div class="catalogItemFieldCategoryBlock"
                                 id="wholeSaleCheaper">
                                оптом дешевле
                            </div>
                        </div>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <h4 class="catalogItemName">
                                Костюм рабочий усиленный с брюками
                            </h4>
                        </a>
                        <p class="catalogItemVendorCode">
                            Артикул: 5806
                        </p>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <p class="catalogItemMiniDescrition">
                                Надёжность. Удобство. Экономичность.
                                Вот 3 понятия, которые идеально описывают
                                данную модель рабочего костюма!
                            </p>
                        </a>
                    </div>
                    <div class="catalogItemCost">
                        <p class="discountPrice">
                            3.99 Р
                        </p>
                        <p class="oldPrice">
                            5.00 Р
                        </p>
                    </div>
                </div>
                <div class="catalogItem">
                    <a href="../Page/item.html">
                        <img class="catalogItemImg"
                             src="../Image/itemPack/artical_5806.jpg"
                             />
                    </a>
                    <div class="catalogItemDescrition">
                        <div class="catalogItemFieldCategory">
                        </div>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <h4 class="catalogItemName">
                                Костюм рабочий усиленный с брюками
                            </h4>
                        </a>
                        <p class="catalogItemVendorCode">
                            Артикул: 5806
                        </p>
                        <a href="../Page/item.html"
                           class="contextHref">
                            <p class="catalogItemMiniDescrition">
                                Надёжность. Удобство. Экономичность.
                                Вот 3 понятия, которые идеально описывают
                                данную модель рабочего костюма!
                            </p>
                        </a>
                    </div>
                    <div class="catalogItemCost">
                        <p class="price">
                            4.99 Р
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="bottonMenu">
                <a asp-controller="Contacts" asp-action="Index">
                    <div class="partOfBottonMenu">
                        Связаться
                    </div>
                </a>
                <a asp-controller="Catalog" asp-action="Index">
                    <div class="partOfBottonMenu">
                        Товары
                    </div>
                </a>
                <a asp-controller="Home" asp-action="Index">
                    <div class="partOfBottonMenu">
                        СпецПрофСтиль
                    </div>
                </a>
            </div>
        </footer>
    </div>
    <div id="rightPartOfMainContent">
    </div>
</div>
<script src="~/js/catalog_filter.js"></script>