@model IEnumerable<SPF.Models.Items.Item>
@{
    ViewData["MetaDescription"] = "Нужна качественная спецодежда? У нас больший выбор спецодежды по самым выгодным ценам!";
    ViewData["MetaKeyWords"] = "Лучшая спецодежда, Спецпрофстиль, Спецовка";
    ViewData["MetaTitle"] = "Где купить лучшую спецодежду?";
    ViewData["Title"] = "Главная";
    ViewData["CssLink"] = "index.css";
}
<div id="scroller">
    <div id="scrollerContent">
        <img class="scrollerContentImgMiddle" id="scrollerContentImg_1" src="~/img/slide_bar/scroll_right.png" />
        <img class="scrollerContentImgRight" id="scrollerContentImg_2" src="~/img/slide_bar/scroll_right.png" />
        <img class="scrollerContentImgRight" id="scrollerContentImg_3" src="~/img/slide_bar/scroll_right.png" />
        <img class="scrollerContentImgRight" id="scrollerContentImg_4" src="~/img/slide_bar/scroll_right.png" />
    </div>
    <button class="scrollerButton" id="scrollerControlButtonPrev">
        <
    </button>
    <button class="scrollerButton" id="scrollerControlButtonNext">
        >
    </button>
</div>
<script src="~/js/index.js"></script>
<div id="directionOfMainContent">
    <div id="leftPartOfMainContent">
    </div>
    <div id="middlePartOfMainContent">
        <div id="mainBlockMerit">
            <div class="partBlockMerit">
                <div class="containerMiniImgInBlockMerit">
                    <img src="~/img/index_img/mini_img_edge.png"
                         class="imgInBlockMerit" />
                </div>
                <p class="textInBlockMerit"
                   id="textInBlockMeritOfMade">
                    Изготовление спецодежды по моделям заказчика
                </p>
            </div>
            <div class="partBlockMerit">
                <div class="containerMiniImgInBlockMerit">
                    <img src="~/img/index_img/mini_img_quality.png"
                         class="imgInBlockMerit" />
                </div>
                <p class="textInBlockMerit">
                    Качественная продукция
                </p>
            </div>
            <div class="partBlockMerit">
                <div class="containerMiniImgInBlockMerit">
                    <img src="~/img/index_img/mini_img_bag.png"
                         class="imgInBlockMerit" />
                </div>
                <p class="textInBlockMerit">
                    Большой опыт работы
                </p>
            </div>
            <div class="partBlockMerit">
                <div class="containerMiniImgInBlockMerit">
                    <img src="~/img/index_img/mini_img_paper.png"
                         class="imgInBlockMerit" />
                </div>
                <p class="textInBlockMerit">
                    Вся продукция сертифицированна
                </p>
            </div>
            <div class="partBlockMerit">
                <div class="containerMiniImgInBlockMerit">
                    <img src="~/img/index_img/mini_img_car.png"
                         class="imgInBlockMerit" />
                </div>
                <p class="textInBlockMerit">
                    Доставка продукции
                </p>
            </div>
        </div>
        <div id="directionTopItems">
            <h1>
                Самые популярные товары
            </h1>
            <div id="listTopItems">
                @foreach (var item in Model)
                {
                    <a asp-controller="Catalog" asp-action="Item" asp-route-id="@item.Id">
                    <div class="blockTopItem">
                        <img src="@item.ImgUrl"
                             height="750px"
                             width="500px"
                             class="imgTopItem" />
                        <div class="backgroundTextTopItem">
                            <p class="textTopItem">
                                @item.Name
                            </p>
                        </div>
                    </div>
                </a>
                }

            </div>
        </div>
        <footer>
            <div id="bottonTextAboutCompany">
                <div id="leftPartOfBottonTextAboutCompany"
                     class="partOfBottonTextAboutCompany">
                    ООО «СпецПрофСтиль»<br>
                    Адрес: РБ, 223723, Минская обл., Солигорский р-н, гп. Красная Слобода, ул. Тихомирова, д.1, к.2. GLN - 4819110690003<br>
                    Тел.: 8-017-350-20-59, 8-029-350-01-03<br>
                    УНП 690740612, ОКПО 299302346000
                </div>
                <div id="middlePartOfBottonTextAboutCompany"
                     class="partOfBottonTextAboutCompany">
                    Банк: ОАО «СБЕР БАНК», г. Минск, ул. Петра Мстиславца, 13, 220114<br>
                    Р/с BY22BPSB30121076890189330000<br>
                    Код банка: BPSBBY2X
                </div>
                <div id="rightPartOfBottonTextAboutCompany"
                     class="partOfBottonTextAboutCompany">
                    Почтовый адрес: 220037, г. Минск, ул. Передовая, 15, пом. 24А<br>
                    Адрес склада: г. Минск, ул. Передовая, д. 15, пом. 5.
                </div>
            </div>
            <div id="bottonMenu">
                <a asp-controller="Contacts" asp-action="Index">
                    <div class="partOfBottonMenu">
                        Связаться
                    </div>
                </a>
                <a asp-controller="Catalog" asp-action="Index">
                    <div class="partOfBottonMenu">
                        Товары
                    </div>
                </a>
                <a asp-controller="Home" asp-action="Index">
                    <div class="partOfBottonMenu">
                        СпецПрофСтиль
                    </div>
                </a>
            </div>
        </footer>
    </div>
    <div id="rightPartOfMainContent">
    </div>
</div>