@model SPF.Models.Items.Item

@{
    ViewData["Title"] = "Каталог";
    ViewData["CssLink"] = "admin_item_create.css";
}

<div class="itemCreateField">
    <div class="topItemMenu">
        <h1>Создание</h1>

        <h4>Вещи</h4>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form class="itemCreateInputField" asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="itemInputField">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="itemInputField">
                    <label class="control-label">Тип</label>
                    @Html.DropDownList("TypeName")
                </div>
                <div class="LowDescription">
                    <label asp-for="LowDescription" class="control-label"></label>
                    <textarea asp-for="LowDescription" class="form-control" /></textarea>
                    <span asp-validation-for="LowDescription" class="text-danger"></span>
                </div>
                <div class="HighDescription">
                    <label asp-for="HighDescription" class="control-label"></label>
                    <textarea asp-for="HighDescription" class="form-control"></textarea>
                    <span asp-validation-for="HighDescription" class="text-danger"></span>
                </div>
                <div class="itemInputField">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" data-val="false" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="itemInputField">
                    <label asp-for="PriceLow" class="control-label"></label>
                    <input asp-for="PriceLow" data-val="false" class="form-control" />
                    <span asp-validation-for="PriceLow" class="text-danger"></span>
                </div>
                <div class="hidden">
                    <label asp-for="ImgUrl" hidden="hidden" class="control-label"></label>
                    <input asp-for="ImgUrl" hidden="hidden" value="None" class="form-control" />
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </div>
                <div class="hidden">
                    <label asp-for="ImgListUrl" hidden="hidden" class="control-label"></label>
                    <input asp-for="ImgListUrl" hidden="hidden" value="None" class="form-control" />
                    <span asp-validation-for="ImgListUrl" class="text-danger"></span>
                </div>
                <div class="itemInputImg">
                    <input type="file" name="UploadImg" />
                </div>
                <div class="itemInputButton">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
