@model SPF.Models.UserCreate;
@{
    ViewData["Title"] = "Создание";
}
<form class="itemCreateInputField" asp-action="Create" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="itemInputField">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="itemInputField">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="itemInputField">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="itemInputField">
        <label asp-for="PostUser" class="control-label"></label>
        <input asp-for="PostUser" class="form-control" />
        <span asp-validation-for="PostUser" class="text-danger"></span>
    </div>
    <div class="itemInputField">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="itemInputButton">
        <input type="submit" value="Создать" class="btn btn-primary" />
    </div>
</form>